body {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.italic {
    font-style: italic; 
}

.glow-button:hover {
    color: #FEC89A;
}

.place {
    margin-top: 54px;
}

.padding {
    padding-top: 5px;
    padding-bottom: 0px;
}

.avatar {
    width: 180px;
    border-radius: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: repeating-linear-gradient(180deg, #FAE1DD, #FAE1DD 33%, #0A9396 33%, #0A9396 100%);
    animation-name: color-swap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: #2b2839;
    border-radius: 5px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes color-swap {
    from {background: repeating-linear-gradient(180deg, #FAE1DD, #FAE1DD 33%, #0A9396 33%, #0A9396 100%);}
    to {background: repeating-linear-gradient(180deg, #0A9396, #0A9396 33%, #FAE1DD 33%, #FAE1DD 100%);}
}